 @font-face {
    font-family: 'Hero';
    src: url(../Fonts/ofont.ru_Hero.ttf);
}
@font-face {
    font-family: 'RadioTech';
    src: url(../Fonts/ofont.ru_Radiotechnika.ttf);
}
@font-face {
    font-family: 'Zero';
    src: url(../Fonts/ofont.ru_Zero\ 5.ttf);
}
@font-face {
    font-family: 'Romul';
    src: url(../Fonts/ofont.ru_Romul.ttf);
}
@font-face {
    font-family: 'Montaga';
    src: url('../Fonts/Montaga-Regular.ttf');
}
html{
    scroll-behavior: smooth;
}
body{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-size:20px;
    font-family: 'Montaga';
    display:grid;
    grid-template-columns: repeat(12,1fr);
    justify-content: center;
    column-gap: 10px;
}
header{
    grid-column-start: 1;
    grid-column-end: 13;
    background-color: rgb(0, 0, 0);
    color: white;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-auto-rows: auto;
    justify-content: center;
    column-gap: 10px;
    height: 100vh;
    row-gap: 1%;
    background-image: url('../Images/1-01\ 1.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom ;
    background-attachment: fixed;
}
nav{
    grid-column-start: 3;
    grid-column-end: 11;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;  
    align-items: center;  
}
nav div{
    display: flex;
    align-items: center;
}
nav ul{
    display: flex;
}
nav ul a{
    text-decoration: none;
    list-style: none;
    color: white;
    margin: 5px;
}
.layer1{
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 5;
    min-width:500px;
    height:auto;
}
.layer1 button{
    width:45%;
    height:40px;
    border-radius: 20px;
    background: linear-gradient(335deg,rgb(0, 217, 255),rgb(255, 40, 183),rgb(0, 217, 255),rgb(255, 40, 183),rgb(0, 217, 255),rgb(255, 40, 183));
    background-size: 450%;
    background-position: left center;
    border-style: none;
    box-shadow: 0px 0px 30px rgba(255, 109, 243, 0.445);
    color:white;
    text-shadow: 1px 1px 40px rgb(255, 109, 243);
    position: relative;
    left: 0.2vw;
    top: 1vw;
    transition: background .9s ease,box-shadow .5s ease;
    font-size: 1vw;
}

 .layer1 button:hover,.layer1 button:active{
    background-size: 470%;
    background-position:center;
    box-shadow: 0px 0px 20px rgba(0, 217, 255, 0.534);
    
}
main{
    grid-column: 1 / 13;
    background-color: black;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-top: 3px solid;
    border-image: linear-gradient(295deg, #09D3FF 0%, rgba(255, 0, 214, 0.46) 100%) 1;
}
.po{
    text-align: center;
    
}
.section1{
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 40vh;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
}
.c1, .c2, .c3{
    display: flex;
    align-items: center;
    
}

.c1 img,.c2 img, .c3 img{
 margin-right: 15px;
}
.part2{
    background: url('../Images/Mask\ group\ \(8\).png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.b1,.b4{
    display: flex;
    background-image: url('../Images/Mask\ group\ \(13\).png'), url('../Images/Mask\ group\ \(14\).png');
    background-position: left top, right bottom;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    margin: 0 auto;
    justify-content: center;
    align-items: center;

    border-radius: 15px;
}
.b2,.b5{
    display: flex;
    background-image: url('../Images/Mask\ group\ \(15\).png'), url('../Images/Mask\ group\ \(16\).png');
    background-position: left top, right bottom;
     background-repeat: no-repeat;

    width: 100%;
    height: auto;
    margin: 0 auto;
    justify-content: center;
    align-items: center;

    border-radius: 15px;
}
.b3,.b6{
    display: flex;
    background-image: url('../Images/Mask\ group\ \(17\).png'), url('../Images/Mask\ group\ \(18\).png');
    background-position: left top, right bottom;
     background-repeat: no-repeat;
    width: 100%;
    height: auto;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
.b img{
    width: 30%;
    height: auto;
    display: block;
}
.b ul{
    
    color: #FFF;
    font-family: 'Montaga';
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    list-style: url('../Images/Ellipse\ 3\ \(2\).png') inside;
}
.paragraph1, .paragraph2,.paragraph3,.paragraph4,.paragraph5,.paragraph6{
    display: flex;
    flex-direction: column;
    display: inline;
    width: 50%;
}
.paragraph1 p, .paragraph2 p,.paragraph3 p,.paragraph4 p,.paragraph5 p, .paragraph6 p{
    width: 100%;
}
.paragraph1 h2, .paragraph2 h2,.paragraph3 h2,.paragraph4 h2,.paragraph5 h2, .paragraph6 h2{
    border-bottom: 1px solid;
    border-image: linear-gradient(225deg, #09D3FF 0%, rgba(255, 0, 214, 0.46) 100%) 1;
    padding: 10px;
    width: 100%;
}
 .bcg{
    background-color: #000000;
    width: 70%;
    height: auto;
    margin: 10% auto;
} 
footer{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.child1{
    display: flex;
    align-items: center;
}