html{
    scroll-behavior: smooth;
}
body{
    box-sizing: border-box;
    background-position: center;
    background-color: black;
    background-image: url("https://yuginform.com/uploads/posts/2020-10/1603832406-5elw-v0tw0amssocformatjpgnamelarge.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.img1{
    width: 40px;
    border-radius: 30px;
    position: relative;
    bottom: 5px;
    right: 5px;
}
h1{
    color: white;
    position: relative;
    bottom: 43px;
    left: 40px;
    margin:auto 0;
    width: 400px;
}
nav{
    position: relative;
    font-size: 30px;
    bottom: 83px;
    left:220px;
    margin:5px 0;
    width: 500px;
}
.link{
    font-style: italic;
    text-decoration: none;
    color: white;
    border-radius: 30px;
    
}
.link:hover{
    background-color: gray;
    border-radius: 30px;
}
header{
    background-color: black;
    padding: 10px;
    height:30px ;
    border: 1px solid white;
    margin: 5px 10px;
    display: grid;
    width: 930px;
    border-radius: 30px;
}
