html{
    scroll-behavior: smooth;
}
body{
    box-sizing: border-box;
    background-position: center;
    background-color: black;
    background-image: url("https://cs12.pikabu.ru/post_img/big/2021/06/18/3/1623985112119276679.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.img1{
    width: 40px;
    border-radius: 30px;
    position: relative;
    bottom: 5px;
    right: 5px;
}
h1{
    color: white;
    position: relative;
    bottom: 15px;
    margin:auto 5px;
    width: 168px;
    display: inline;
}
nav{
    position: relative;
    font-size: 30px;
    bottom: 55px;
    left:230px;
    margin:5px 0;
    width: 500px;
}
.link{
    font-style: italic;
    text-decoration: none;
    color: white;
    border-radius: 30px;
    margin: 5px;
}
.link:hover{
    background-color: gray;
    border-radius: 30px;
}
header{
    background-color: black;
    padding: 10px;
    height:30px ;
    border: 1px solid white;
    margin: 5px 10px;
    width: 930px;
    border-radius: 30px;
    box-shadow:black 15px 15px 20px;
}
main{
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    margin-top:300px;
    padding: 30px;
    font-style: oblique;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border: 1px solid white;
}
h2{
    text-align: center;
}
.text1{
    font-size: 20px;
}
li{
   list-style-type:disc; 
}
.img2{
    border-radius: 30px;
    position: relative;
    left: 30px;
}
.img3{
    width: 450px;
    border-radius: 30px;
    position: relative;
    left: 30px;
}
.img4{
    width: 450px;
    border-radius: 30px;
}
.img5{
    position:relative;
}
.main{
    margin: 50px 20px;
    border: 5px solid white;
    border-radius: 30px;
}
footer{
    padding: 10px;
    color: white;
    background-color:rgb(0, 0, 0, 0.7);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    height: 200px;
    font-size: 20px;
    border: 1px solid white;
}
