
html{
scroll-behavior: smooth;
}
header{
    text-align: center;
    box-shadow: black 15px 15px 30px;
    
}
h1{
    font-size: 50px;
    color: white;
    transform: translate(-730px,-90px);
    font-style:italic ;
}
.img1{
    margin-top: 5px;
    height:50px;
    transform: translateX(-890px);
    border-radius: 30px;
}
nav{
    font-style:italic ;
    transform: translate(-330px,-175px);
}
body{
    size:100%;
    margin: 0;
    background-color:black;
    background-image: url("https://odessa.dozor.ua/content/documents/11830/1182931/images/HvqFV4gdJUM.jpg");
    background-repeat: no-repeat;
    background-size:100%;
    background-attachment: fixed;
}
header{
    background-color: black;
    height: 64px;
    margin: 1px;
    border-radius: 30px;
}
.link{
    text-decoration: none;
    color: white;
    margin: 5px;
    font-size: 45px;   
    border-radius: 30px;
    scroll-behavior: smooth;
}
.link:hover{
    background-color:gray;
}

#about{
    margin-top: 300px;
}

section{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    color: rgb(255, 255, 255);
    padding:50px;
    animation-name:slidein;
}

h2{
    transform: translateY(20px);
    font-size: 50px;
    font-family:serif;
    font-style:italic;
    text-align: center;
    animation-name:slidein;
}
h4,li{
    font-size: 45px;
    margin: 60px 70px;
    font-family:serif;
    font-style:italic;
}
ul{
    list-style:inherit;    
}
.img2{
    height: 500px;
    transform: translate(120%,-150%);
    border-radius: 30px;
    position: absolute;
}
footer{
    color:white;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 25px;
    padding: 15px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.text1 {
    font-size: 45px;
    margin: 60px 70px;
    font-family:serif;
    font-style:italic;
}
.img3{
    height: 650px;
    transform:translate(1350px,700px);
    position:absolute;
    border-radius: 30px;
}
.text3{
    font-size: 45px;
    margin: 60px 70px;
    font-family:serif;
    font-style:italic; 
}
.img4{
    height: 700px;
    transform: translate(1200px,-600px);
    position:absolute;
    border-radius: 30px;
}
.text2{
    font-style:italic;
}
.img5{
    position:absolute;
    transform: translate(460px,-160px);
    height:50px;
}
.img6{
    position:absolute;
    transform: translate(516px,-160px);
    height:50px;
}

main{
    background-color: rgba(0, 0, 0, 0.7);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
